[Desktop Entry]
Encoding=UTF-8
Name=GALILEL
Comment=GALILEL P2P Cryptocurrency
Exec=exotic-qt %u
Terminal=false
Type=Application
Icon=galilel128
MimeType=x-scheme-handler/exotic;
Categories=Office;Finance;
Name[en_US]=exotic-qt.desktop
